.home-hero-section {
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-image: linear-gradient(
			180deg,
			#000f27f0,
			#0512279a,
			#0a142700,
			#0e1628c4,
			#121828
		),
		url('../assets/priemyselna-KNM.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	p {
	}
}
